.dashboard_card {
    position: relative;
    overflow: hidden;

    .card_logo {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: absolute;

        div {
            justify-content: right;
            font-size: 160px;
            margin-top: -80px;
            margin-right: 10px;
            color: rgba(204, 230, 255);
        }
    }

    .index_of_element {
        z-index: 100;
    }

    .ant-card-bordered {
        border: none;
        border-radius: 15px !important;
    }

    .ant-card-body {
        padding: 32px 24px;
    }
}
