
.app_footer {
    padding: 1em 5em !important;
    .footer_left {
        text-align: left;
    }

    .footer_center {
        text-align: center;
    }

    .footer_right {
        text-align: right;
    }

    @media (max-width: 768px) {
        padding: 1em 0 !important;
        .footer_left,
        .footer_center,
        .footer_right {
            text-align: center;
        }
    }
}
