
// sidebar todo
.sider_color {
    background-color: $app_primary_color !important;
    .ant-layout-sider{
        background-color: transparent !important;
    }
}

.ant-menu-submenu-selected{
    border-bottom-color: transparent !important;
}

.ant-menu-submenu-active:hover{
    border-bottom-color: transparent !important;
}

.drawer_color{
    .ant-drawer-body{
        background-color: $app_primary_color !important;
    }
}
