.header_bg_color{
    background-color: $app_primary_color !important;
}
.app_header {
    z-index: 50 !important;

    .app_menu_wrapper {
        height: inherit;

        .app_menu {
            display: flex;
            align-items: center;
            height: 64px;

            .ant-menu-horizontal {
                border-bottom: none !important;
            }

            .icon_menu {
                .ant-menu-item,
                .ant-menu-submenu-title {
                    padding: 0 5px;
                }

                padding: 0 5px;

                &.ant-menu-submenu,
                &.ant-menu-item {
                    border-bottom: 2px solid transparent;

                    &:hover {
                        border-bottom: 2px solid transparent;
                    }
                }
            }
        }

        .header_user {
            height: 35px;
            width: 35px;
            border-radius: 50px;
        }

        .app_header_mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .app_logo {
        height: 45px !important;
        @media (max-width: 768px) {
            height: 35px;
        }
    }
}

.admin_header {
    .app_menu_wrapper {
        padding: 0px !important;
    }
}
