
//To Do according your theme

// Colors
$app_primary_color:#001529;
$app_content_color:#ececec;

$colors: (
    app_primary_color:$app_primary_color,
    app_content_color:$app_content_color,
);

// font weight
$weight: (
    regular: 400,
    mediumbold: 500,
    semibold: 600,
    bold: 700
);

//font size
$typography: (
    small: 12px,
    medium: 14px,
    normal: 16px,
    large: 18px,
    newlarge: 20px,
    xlarge: 24px,
    xxlarge: 40px,
    xxxlarge: 56px
);

//text align
$textalign: (
    left: left,
    center: center,
    right: right
);


